html, body {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.85);
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

#root {
  display: flex;
  height: 100%;
}
